pipeline/FucntionAppCAll.json
{
	"name": "FucntionAppCAll",
	"properties": {
		"activities": [
			{
				"name": "Azure Function",
				"type": "AzureFunctionActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"functionName": {
						"value": "HelloFunction",
						"type": "Expression"
					},
					"method": "POST",
					"body": {
						"value": "{\n\"name\": \"Reply Show Me How - Azure Fucntions 101\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Function Result",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Azure Function",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Result",
					"value": {
						"value": "@activity('Azure Function').output.Response",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "XmlSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "XmlReadSettings",
							"validationMode": "none",
							"namespaces": true
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "Xml1",
						"type": "DatasetReference"
					}
				]
			}
		],
		"variables": {
			"Result": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2022-08-11T18:49:02Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}